/* body{
  background-color: black;
  height: 500px;
  width: 800px;
  margin-top:30px;
  margin-bottom: 30px;
  padding: 20px;
  color: white;
  background: url('pokedexbackgd1.jpg') center #333 no-repeat;
  background-size: cover;
  color: white;
  text-shadow: 0px 0px 5px #000;
  opacity: 1;
} */

html {
  /* overflow-x: hidden; */
  min-height: 100vh;
}
header{
  margin-right: 20px;
  float: center;
}
#pan{
  position:absolute;
  z-index:1;
}
#pan1{
  position:absolute;
  z-index:500;
}
#pan2{
  position:absolute;
  z-index:9999;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
btn {
  position: absolute;
}

body {
  color: white;
  font-family: 'Abel', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 20px;
  /* margin-right: 10px; */
  padding: 40px;
  background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.7), black), url("img/pokedexbackgd3.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-clip: initial;
  line-height: 1em;
}


.leading {
  float: center;
}
.logo {
  height: 30px;
  
}
.palkiaPanel {

  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;

} 
.palkiaPanel h2 {
  position: absolute;
  display: flex;
  padding: 10px;
  text-shadow: white;
  left:100px;
  font-family:  'Roboto Slab', serif;
  /* justify-content: right;
  align-content: right; */
  /* background-color: rgba(255,255,255,0.8); */
}  
/* .centerimg {
  width:800px;
  height:600px;;
} */
.palkia{
  object-fit: cover;
  width: 75%;
  height: 75%;
  position: absolute;
  z-index: 2;
    }
#palk1{
  object-fit: cover;
  width: 60%;
  height: 60%;
  position: absolute;
  z-index: 2;
    
}
#palk1{
  object-fit: cover;
  width: 70%;
  height: 70%;
  position: absolute;
  z-index: 2;
    
}
.mewtwo{
      object-fit: cover;
      width: 60%;
      height: 60%;
      position: absolute;
      z-index: 3;
        }
.giratina{
          object-fit: cover;
          width: 60%;
          height: 60%;
          position: absolute;
          z-index: 4;
}  
 

#portal{
  position:absolute;
  object-fit: cover;
  left:0s;
  width: 50%;
  height: 50%;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    /* transform: rotate(3deg); */
     /* transform: rotate(0.3rad);/ */
     /* transform: rotate(3grad); */ 
     /* transform: rotate(.03turn);  */
  }
  
  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
  }


  /* Large Section */
  #centermain {
  margin-top: 40px;
  position:relative;
  width:auto;
  height:800px;
  display: flex;
  align-items: center;
  justify-content: center;

  
  }
/* #centermain h2 {
  position: absolute;
  display: flex;
  padding: 10px;
  background-color: rgba(255,255,255,0.8);
}   */
#centermain:first-child{
  flex: 1;
  display: flex;
}
#centermain img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}  

  /* Content Left   */
#contentleft {
  margin-top: 130px;
  /* padding:20px; */
  position:relative;
  width:auto;
  height:600px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  }
#contentleft h2 {
  position: absolute;
  display: flex;
  top:10;
  padding: 10px;
  /* background-color: rgba(255,255,255,0.8); */
}  

#contentleft p {
  flex: 1;
  display: flex;
}
#contentleft img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}  

/* Content Right*/  
#contentright {
  margin-top: 130px;
  /* padding:20px; */
  position:relative;
  width:auto;
  height:600px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index:1;
  }

.title {
  position: absolute;
  top:50px;
  display: flex;
  justify-content: center;

}  
/* #contentright p {
  background-image: url("right.png");
  flex: 1;
  display: flex;
} */
#contentright img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}  
.div2::-webkit-scrollbar {
  width: .6em;
}

.div2::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.div2::-webkit-scrollbar-thumb {
  background-color: #4c2e34;
  outline: 0px solid #331b20;
}
#speed{
  position:absolute;
  z-index:4;
  left:50px;
}
#hp {
    position:absolute;
    z-index:4;
    left:50px;
  }
#defense{
    position:absolute;
    z-index:4;
    left:50px;
  }
#attack{
    position:absolute;
    z-index:4;
    left:50px;
  }
#ability{
    position:absolute;
    z-index:4;
    left:50px;
  }
#showabilities{
  position:absolute;
    left: 60px;
    top: 225px;
  }
.pokecard{
  position: absolute;
  top:0px;
  width:auto;
  height:auto;
}

  
/* #content:before, 
#content:after, 
#content>:last-child:before, 
#content>:last-child:after {
    position: absolute;
    width: 60px; 
    height: 50px;
    border-color: white; 
    border-style: solid;
    content: ' ';
}
 
#content:before {
    top: 10px;
    left: 10px;
    border-width: 1px 0 0 1px
}
 
#content:after {
    top: 10px;
    right: 10px;
    border-width: 1px 1px 0 0
}
 
#content>:last-child:before {
    bottom: 10px;
    right: 10px;     
    border-width: 0 1px 1px 0
}
 
#content>:last-child:after {
    bottom: 10px;
    left: 10px;
    border-width: 0 0 1px 1px
} */

/* .header {
  display: flex;
  align-items: center;
  font-size: 2em;
  color: white;
  background-color: white;
} */
